

/* styles for the TicketOptionRow component */
/* rows showing the tickets available to the end users */
/*
  Contains the top level 'ticketOptionRow'
  And then 3 sub parts
    - titles represents the left most column
    - prices represents the middle 
    - tickets represents the right most columns, with buttons for interaction
*/

.ticketOptionRow {
  margin: 10px; 
  padding: 10px;
  border: 2px solid rgb(202, 197, 197);
  border-radius: 12px;

  display: grid; 
  grid-template-rows: 1fr;
  grid-template-columns: auto 100px 100px;
  gap: 50px;
}

.ticketOptionRow .titles {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}
.ticketOptionRow .titles > div:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
}


.ticketOptionRow .prices {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: flex-end; 
}
.ticketOptionRow .prices > div:nth-child(1) {
  align-self: flex-end;
}
.ticketOptionRow .prices > div:nth-child(2) {
  align-self: flex-start;
  font-size: 12px;
}


.ticketOptionRow .tickets {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.ticketOptionRow .tickets button {
  cursor: pointer;
}
