@import url("TicketOptionRowStyles.css");


/* css file for the TicketOptions entry point */
/* usually relating to layout and highlevel things */

.ticketOptions {
  display: grid;
  grid-template-rows: 50px auto;
  gap: 10px; 
  padding: 100px;
  padding-top: 50px;
}
.ticketOptionsTitle {
  padding: 10px;
}
.ticketOptionsList {
  height: calc(100% - 50px);
  overflow-y: scroll;
}

/* no further css needed for demo */